{{define "create-task"}}
<div class="create-task">
  <form class="create-task-form" action="" method="POST" role="form">
    <div class="input-form">

      {{if .Status}}
      <div class="task-input">
        <input type="text" placeholder="Task" name="task" class="input-form__task" value="{{.Title}}" autocomplete="off">
        {{template "workspace_section" .}}
      </div>

      <div>
        <div class="input-form__category-div">
          <span id="color-selector">
            <input name="color" class="hidden category-color" value="{{.Category.ColorID}}">
            <span class="hidden color-status">{{.Category.Color.ID}}:{{.Category.Color.Name}}:{{.Category.Color.Status}}</span>
          </span>

          {{template "workspace_color" .}}

          <input type="text" placeholder="Category" name="category" class="input-form__category" value="{{.Category.Name}}" autocomplete="off">
        </div>

        {{template "workspace_category" .}}
      </div>

      {{else}}
      <div class="task-input">
        <input type="text" placeholder="Task" name="task" class="input-form__task" value="" autocomplete="off">
        {{template "workspace_section" .}}
      </div>
  
      <div>
        <div class="input-form__category-div">
          <span id="color-selector">
            <input name="color" class="hidden category-color" value="{{.Category.ColorID}}">
            <span class="hidden color-status">{{.Category.Color.Status}}</span>
          </span>
          
          {{template "workspace_color" .}}

          <input type="text" placeholder="Category" name="category" class="input-form__category" value="{{.Category.Name}}" autocomplete="off">
        </div>

        {{template "workspace_category" .}}
      </div>

      {{end}}
    </div>

    {{if .Status}}
    <input type="text" name="time" class="time-content run-time" value="{{.StartTime.Hour}}:{{.StartTime.Minute}}:{{.StartTime.Second}}">
    <div class="run-time-date hidden">{{.StartTime.Year}}/{{.StartTime.Month}}/{{.StartTime.Day}}</div>

    {{else}}
    <input type="text" name="time" class="time-content" value="0:00:00">
    {{end}}
    <div class="button-div">
      {{if .Status}}
      <button type="submit" class="play-button stop" data-action="/index/stop/{{.ID}}">
        <img src="/static/img/stop-btn.PNG" class="toggle_img">
      </button>
      {{else}}
      <button type="submit" class="play-button play" data-action="/index/create">
        <img src="/static/img/play-btn.PNG" class="toggle_img">
      </button>
      {{end}}
    </div>
  </form>
</div>
{{end}}