{{define "content"}}
<div class="main-content">
  {{template "create-task" .}}

  <!-- Duration and List -->
  <div class="contents">
    {{range .Durations}}
    <div class="task-content get-date">
      <div class="flex-content justify-content-space-between">
        <span>{{.Date}}</span>
        <span class="subtime-sum">{{.Sum}}</span>
      </div>
      <ul>
      {{range .ParentTasks}}
      
      <!-- 同じリストが複数ある時 -->
      {{if ne .Len 1}}
      <div class="parent-list">
        <div class="parent-li pointer">
          <div class="len"><p>{{.Len}}</p></div>
          <div class="flex-content justify-content-space-between">
            <div class="parent-title">
              <span>{{.Title}}</span><br>
              <span class="background parent-bg-{{.ID}}">{{.CategoryName}}</span>
              <div class=hidden>{{.ID}}:{{.Color.Status}}/</div>
            </div>
            <span><p>{{.SumTime}}</p></span>
          </div>
        </div>
        <div class="hidden-list">

          {{range .Tasks}}
          <a id="openModal" class="task-a">
            <div class="hidden">{{.ID}}</div>
            <li class="background-gray">
              <div>
                <span>{{.Title}}</span><br>
                {{if .Category.Name}}
                <span class="task-content__category-span category-color-{{.ID}}">{{.Category.Name}}</span>
                <div class="hidden-status">{{.ID}}:{{.Category.Color.Status}}:{{.Category.Name}}/</div>
                {{else}}
                <span class="task-content__category-span">カテゴリーなし</span>
                <div class="hidden-status">{{.ID}}:#969696/</div>
                {{end}}
              </div>
              <span class="task-content__time">
                <p class="task-content__time__subtime-{{.ID}}">{{.SubTime}}</p>
              </span>

            </li>
          </a>
          {{template "workspace_task" .}}
          {{end}}
          </div>
        </div>
        {{else}}


        <!-- 同じリストがない時 -->
          {{range .Tasks}}
          <a id="openModal" class="task-a">
            <div class="hidden">{{.ID}}</div>
            <li>
              <div>
                <span>{{.Title}}</span><br>
                {{if .Category.Name}}
                <span class="task-content__category-span category-color-{{.ID}}">{{.Category.Name}}</span>
                <div class="hidden-status">{{.ID}}:{{.Category.Color.Status}}:{{.Category.Name}}/</div>
                {{else}}
                <span class="task-content__category-span">カテゴリーなし</span>
                <div class="hidden-status">{{.ID}}:#969696/</div>
                {{end}}
              </div>
              <span class="task-content__time">
                <p class="task-content__time__subtime-{{.ID}}">{{.SubTime}}</p>
            </span>
  
            </li>
          </a>
          {{template "workspace_task" .}}
          {{end}}
        {{end}}
      {{end}}
      </ul>
    </div>
    {{end}}
  </div>

</div>

<div id="this-page" class="hidden">list</div>
{{end}}