{{define "workspace_category"}}
<section class="workspace-category">
  <div class="bg-cancel cancel"></div>
  <div class="workspace-category__content">
    <h3>CATEGORIES<span class="gray-color">※MAX15</span></h3>
    <div class="cancel-btn cancel">×</div>
    <ul>
      {{range .Categories}}
      <li class="flex-content justify-content-space-between">
        <span class="category pointer">
          <span class="color-span" id="color-span-{{.ID}}"></span>
          <span class="category-span" id="category-span-{{.ID}}">{{.Name}}</span>
        </span>
        <div class="category__span" id="category__span-{{.ID}}">
          <span class="update update-span pointer">
            Edit
            <span class="hidden id">{{.ID}}</span>
            <span class="hidden color-data">{{.Color.ID}}:{{.Color.Name}}:{{.Color.Status}}</span>
            <span class="hidden color-id">{{.ID}}/</span>
          </span>
        </div>
      </li>

      <section id="workspace-category__edit-{{.ID}}" class="workspace-category__edit hidden">
        <div id="modal-edit-bg-{{.ID}}" class="bg-black__edit cancel__edit"></div>
        <div class="modalArea-edit-{{.ID}} modalArea-edit__wrapper" >
          <div class="modalArea-edit__content">
            <h4>EDIT</h4>
            <div class="cancel-btn-edit">×</div>
            Category Name
            <input type="text" placeholder="Category Name" value="{{.Name}}" name="category-name">
            <br>
            Color
            <div class="flex-content justify-content-space-between">
              <span class="modalArea-edit__wrapper__span"></span>
              <select name="category-color" class="selected-color">
                <option value="16">none</option>
                <option value="1" selected>red</option>
                <option value="2">purple</option>
                <option value="3">blue</option>
                <option value="4">bluegreen</option>
                <option value="5">green</option>
                <option value="6">yellow</option>
                <option value="7">brown</option>
                <option value="8">orange</option>
                <option value="9">black</option>
                <option value="10">bordo</option>
                <option value="11">navy</option>
                <option value="12">olive</option>
                <option value="13">pink</option>
                <option value="14">skyblue</option>
                <option value="15">lightgreen</option>
              </select>
              <input type="text" placeholder="Color" value="{{.Color.Name}}" name="category-color-name" class="hidden">
            </div>
            <br>
            <button class="update-btn" type="submit" data-action="/index/update-category/{{.ID}}">Update</button>
            <button class="delete-btn" type="submit" data-action="/index/delete-category/{{.ID}}">Delete</button>
          </div>
        </div>
      </section>
      {{end}}
    </ul>   
    <div>
      <input type="text" placeholder="New Category" value="" name="new-category">
      <button class="create-category" type="submit">+ CREATE CATEGORY</button>
    </div>
  </div>
</section>
{{end}}