@charset "utf-8";

.new-task-text {
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

.create-task {
  position: fixed;
  left: 0;
  top: 45px;
  width: 95%;
  background-color: white;
  padding: 0.7% 2.5%;
  box-shadow: 0px 7px 10px -5px rgba(0,0,0,0.5);
  z-index: 999;
}

.create-task-form {
  display: flex;
  justify-content: space-between;
}

.create-task-form .input-form {
  display: block;
  width: 85%;
  text-align: left;
}

.create-task-form input {
  text-align: left;
  border-radius: 20px;
}

.input-form .input-form__task {
  padding: 1% 1.5%;
  border: none;
  width: calc(100% - 3% - 2px);
  margin-bottom: 0.8%;
  background-color: rgb(245, 245, 245);
}

.input-form input[type="text"]:focus {
  border: none;
  outline: 0;
}

.input-form__category-div {
  width: 50%;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
}

.input-form__category-div #color-selector, .modalArea-edit__wrapper__span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: none;
  background-color: rgb(150, 150, 150);
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.modalArea-edit__wrapper__span {
  width: 30px;
  height: 30px;
}

.input-form .input-form__task[type="text"]:focus {
  background-color: rgb(230, 230, 230);
}

.input-form .input-form__task:hover {
  background-color: rgb(230, 230, 230);
}

.input-form .input-form__category {
  min-width: calc(100% - 2% - 15px - 20px);
  padding: 0.5% 1%;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

.input-form .input-form__color {
  min-width: calc(45% - 2% - 2px);
  padding: 0.5% 1%;
  background-color: rgb(240, 240, 240);
  border: none;
}

.input-form .input-form__category:hover{
  background-color: transparent
}

.input-form__category-div:hover {
  background-color: rgb(230, 230, 230);
}

.input-form__category[type="text"]:focus {
  background-color: transparent;
}

.task-input {
  position: relative;
}

input.time-content {
  display: block;
  text-align: center;
  border: none;
  width: calc(12% - 20px);
  height: 30px;
  margin: 0.3% 10px;
  background-color: transparent;
}

input.time-content[type="text"]:focus{
  outline:0;
}

.button-div {
  position: relative;
  width: 40px;
  height: 40px;
}

.play-button {
  border: none;
  background-color: white;
  z-index: 2;
  padding: 0;
  display: block;
  position: absolute;
  top: -2px;
}

.play-button:hover {
  opacity: 0.8;
}

.contents {
  margin-top: 60px;
}

.task-content {
  margin-bottom: 30px;
  padding: 1.5% 2%;
  text-align: left;
  /* border: solid 1px black; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 15px 15px 0px 0 rgb(0, 0, 0);
}

.task-content .subtime-sum {
  font-size: 0.85rem;
  font-weight: bold;
}

.task-content ul {
  padding: 0% 3%;
}

.task-content ul li {
  border-bottom: solid 1px black;
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
}

.task-content ul li div{
  width: 50%;
}

.task-content ul li div span {
  display: inline;
  padding: 0.5% 2%;
}

.task-content__category-span {
  display: inline-block;
  background-color: #969696;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 0.1%;
}

.task-content ul li:hover {
  background-color: rgb(245, 245, 245);
}

.task-content__time {
  vertical-align: middle;
}


/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 999; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.4);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 60%;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.modal-content__form h3 {
  margin: 10px 0;
}

.modal-content__form .main-form {
  display: block;
  margin-bottom: 8px;
  width: calc(100% - 4% - 2px);
  padding: 1% 2%;
  border-radius: 5px;
  border: solid 1px black;
  font-size: 1rem;
}

.main-select {
  display: block;
  width: 100%;
  padding: 1.2% 2%;
  border-radius: 5px;
}


.modal-content__form__time-section {
  display: flex;
  justify-content: space-between;
}

.modal-content__form__time-section div{
  text-align: center;
  justify-content: center;
}

.modal-content__form__time-section .duration {
  border: solid 1px black;
  border-radius: 10px;
  font-size: 1rem;
}

.modal-content__form__time-section .time {
  border: none;
  border-bottom: solid 1px black;
  text-align: center;
  font-size: 1rem;
}

.modal-content__form .time-form {
  display: block;
  width: 35%;
  padding: 1% 2%;
}

.modal-content__form__delete-btn {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(255, 75, 75);
  color: white;
  padding: 2% 2%;
  border-radius: 20px;
  border: solid 2px rgb(255, 75, 75);
  transition: ease 0.3s;
}

.modal-content__form__delete-btn:hover {
  color: rgb(255, 75, 75);
  background-color: white;
}

.modal-content__form__update-btn {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(77, 209, 123);
  color: white;
  padding: 2% 2%;
  border-radius: 20px;
  border: solid 2px rgb(77, 209, 123);
  transition: ease 0.3s;
}

.modal-content__form__update-btn:hover {
  color: rgb(77, 209, 123);
  background-color: white;
}

.modal-content__form__date-section {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  padding: 0.8% 1.6%;
  border: solid 1px black;
  border-radius: 10px;
}

.modal-content__form__date-section input {
  text-align: center;
  width: 20%;
  border: none;
}

.modal-content__form__date-section input[type="text"]:focus {
  border: none;
  outline: 0;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

.modal-content__form__date-section input:nth-child(2) {
  width: 30%;
}

.workspace, .workspace-category, .workspace-color{
  position: fixed;
    left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

.bg-black, .bg-black__edit {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.4);
  z-index: 99;
}

.bg-cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.workspace__content {
  width: 40%;
  height: auto;
  position: absolute;
    top: 0;
    left: 2.5%;
  background-color: white;
  padding: 0% 2% 2% 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 999;
}

.scroll-content {
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: calc(100% - 6%);
  z-index: 999;
}

.workspace__content h3, .workspace-category__content h3 {
  margin: 0;
  border-bottom: solid 1px black;
}

.workspace ul, .workspace-category ul {
  padding-left: 10px;
  margin: 0;
  z-index: 10;
}

.workspace ul li {
  z-index: 10;
  margin-bottom: 8px;
}

.workspace ul li:hover {
  background-color: rgb(230, 230, 230);
}

.workspace-category .workspace-category__content ul li .category {
  display: inline-block;
  width: 100%;
  padding: 2px 10px;
  border-radius: 10px;
  color: #969696;
  font-weight: bold;
 }

 .category-color-span {
  padding: 0% 2%;
 }

 .category-color-span .color-span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #969696;
  border-radius: 50%;
  vertical-align: text-top;
 }

 .workspace ul li .category {
  color: #969696;
  font-weight: bold;
 }

 .color-span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #969696;
  border-radius: 50%;
  vertical-align: middle;
}

.category-span {
  display: inline-block;
  vertical-align: middle;
}

.workspace__category {
  top: 17.7%;
}

.workspace-category__content {
  width: 80%;
  position: absolute;
  /* top: 2px; */
  left: 2.5%;
  background-color: white;
  padding: 2% 4%;
  border: solid 1px black;
  border-radius: 20px;
  z-index: 999;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.workspace-category__content ul li {
  margin: 4px;
}

.workspace-category__content ul li:hover, .workspace ul li:hover {
  background-color: rgb(230, 230, 230);
}

.category__span {
  display: flex;
}

.category__span .update {
  display: block;
  background-color: rgb(77, 209, 123);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  border: none;
}
.category__span .delete {
  display: block;
  background-color: rgb(255, 75, 75);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  border: none;
  margin-left: 8px;
}



.create-category {
  width: calc(100% - 2px);
  height: 30px;
  border: solid 2px rgb(31, 154, 198);
  background-color: rgb(31, 154, 198);
  color: white;
  border-radius: 5px;
  transition: ease 0.3s;
}

.create-category:hover {
  color: rgb(31, 154, 198);
  background-color: white;
}

.workspace-category__content input[type="text"]:focus {
  outline: 1;
  border: solid 1px black;
}

.workspace-category .workspace-category__content div input {
  width: calc(100% - 2px - 16px);
  border: solid 1px black;
  margin: 8px 0;
  padding: 5px 8px;
}

.workspace-category__content ul li .category input {
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: rgb(31, 154, 198);
  width: 80%;
}

.workspace-category__content ul li .category input[type="text"]:focus {
  outline: 0;
  border: none;
  background-color: transparent;
}

/* workspace-category__edit */
.workspace-category__edit {
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999;
}

.modalArea-edit__wrapper {
  position: absolute;
    top: 50%;
    left: 50%;
  transform:translate(-50%,-50%);
  width: 60%;
  max-width: 400px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  z-index: 1000;
}

.modalArea-edit__content h4 {
  margin: 8px 0;
}

.workspace-category__edit .modalArea-edit__wrapper .modalArea-edit__content input {
  border-radius: 5px;
}

.modalArea-edit__content .flex-content {
  padding: 5% 15%;
}

.workspace-category__content .flex-content select {
  width: 60%;
  padding: 1px 2px;
}

.workspace-category__edit .update-btn, .workspace-category__edit .delete-btn {
  width: 100%;
  padding: 2% 2%;
  text-align: center;
  border-radius: 20px;
  margin-top: 15px;
  transition: ease 0.3s;
}

.workspace-category__edit .update-btn {
  background-color: rgb(77, 209, 123);
  border: solid 2px rgb(77, 209, 123);
  color: white;
}
.workspace-category__edit .delete-btn {
  background-color: rgb(255, 75, 75);
  border: solid 2px rgb(255, 75, 75);
  color: white
}

.workspace-category__edit .update-btn:hover {
  background-color: white;
  color: rgb(77, 209, 123);
}
.workspace-category__edit .delete-btn:hover {
  background-color: white;
  color: rgb(255, 75, 75);
}


/* parentlistに関するCSS */
.parent-li {
  border-bottom: solid 1px black;
  padding: 2% 2%;
  display: flex;

}

.parent-li .len {
  position: relative;
  width: 50px;
  height: auto;
  text-align: center;
  vertical-align:middle;
  transition: ease 0.3s;
}

.parent-li:hover {
  background-color: rgb(245, 245, 245);
}

.parent-li .len p {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);

  width: 20px;
  height: auto;
  border: solid 1px rgb(150, 150, 150);
  padding: 5px;
  border-radius: 12px;
  background-color: white;
  margin: 0;
}

.parent-li .flex-content {
  width: calc(100% - 30px);
}

.parent-title {
  width: 50%;
  margin-left: 8px;
}

.parent-list .parent-title span {
  display: inline;
  padding: 0.5% 2%;
  vertical-align: middle;
}

.parent-list .parent-title .background {
  background-color: #969696;
  color: white;
  border-radius: 20px;
}

.hidden-list {
  display: none;
}

.background-gray {
  background-color: rgb(245, 245, 245);
}