@charset "utf-8";

.signin-btn, .signup-btn {
  display: block;
  width: 80%;
  margin: 30px auto 8px auto;
  background-color: rgb(31, 154, 198);
  border: solid 2px rgb(31, 154, 198);
  display: inline-block;
  color: white;
  padding: 2% 3%;
  border-radius: 20px;
  transition: ease 0.2s;
}

.signin-btn:hover, .signup-btn:hover {
   background-color: white;
   color: rgb(31, 154, 198);
}

.welcome p {
  display: block;
  margin: 10% 0 10% 10%;
  font-size: 0.85rem;
}

.sign-btn span {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 20px;
}